body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #202124;
}


.header {
    display: flex;
    justify-content: flex-end;
    padding: 15px 20px;
}

.right-links a {
    margin-right: 15px;
    text-decoration: none;
    color: #202124;
    font-size: 14px;
}

.signin-btn {
    background: #1a73e8;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.logo {
    width: 272px;
    margin-bottom: 25px;
}


.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-box {
    display: flex;
    align-items: center;
    width: 580px;
    height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 0 15px;
}


.search-box:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,0.28);
}

.search-box input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
}

.icons img {
    width: 25px;
    
}

/* BUTTONS */
.buttons {
    margin-top: 25px;
}

.buttons button {
    background: #f8f9fa;
    border: 1px solid #f8f9fa;
    padding: 10px 16px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.buttons button:hover {
    border: 1px solid #dadce0;
}

/* FOOTER */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #f2f2f2;
    font-size: 14px;
}

.footer-top {
    padding: 10px 20px;
    border-bottom: 1px solid #dadce0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.footer a {
    margin-right: 15px;
    text-decoration: none;
    color: #70757a;
}

/* TERMS PAGE */
.terms-page {
    text-align: left;
    margin-top: 50px;
}

/* .terms-img {
    width: 90vh;
    margin-bottom: 30px;
    display: flex;
    justify-content: center
    ;
} */
 .terms-img {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 500px;
    width: 400px;
}




.terms-content {
    max-width: 700px;
    margin: auto;
}


.terms-header {
    text-align: center;
    margin-top: 40px;
}

.terms-illustration {
    width: 180px;
    margin-bottom: 20px;
}

.terms-meta a {
    color: #1a73e8;
    text-decoration: none;
}

.country {
    margin-top: 5px;
}

.terms-body {
    width: 65%;
    margin: 40px auto;
    line-height: 1.8;
}
.back-btn:hover{
    color: #ac3131;
}

